.catalog-coffee__list {
  @include list-reset;

  width: 100%;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    row-gap: 20px;
  }

  @media (min-width: $laptop-width) {
    grid-template-columns: repeat(4, max-content);
    row-gap: 50px;

    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    row-gap: 70px;

    margin-bottom: 70px;
  }
}

.catalog-coffee__list-item {
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    &:nth-child(n + 4) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (max-width: $laptop-width) {
    &:nth-child(n + 5) {
      display: none;
    }
  }
}
