.coffee-card {
  position: relative;

  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 340px;
  padding-top: 20px;
  padding-right: 35px;
  padding-bottom: 42px;
  padding-left: 35px;

  background-color: $white;

  border-radius: 16px;
  box-shadow: 0px 0px 18px rgba($c-92, 25%);

  &--sales {
    padding-top: 35px;

    &::before {
      position: absolute;
      top: -30px;

      display: block;
      width: 60px;
      height: 60px;
      padding-top: 12px;
      padding-bottom: 12px;

      color: $black;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-align: center;

      background-color: $yellow;
      border-radius: 50%;

      content: "%"
    }
  }

  @media (max-width: $tablet-width) {
    &--mobile {
      width: 250px;
      padding-top: 14px;
      padding-right: 24px;
      padding-bottom: 30px;
      padding-left: 24px;

      border-radius: 12px;
      box-shadow: 0px 0px 12px rgba($c-92, 25%);

      .coffee-card__title {
        margin-bottom: 7px;

        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
      }

      .coffee-card__description {
        font-size: 10px;
        line-height: 12px;
      }

      .coffee-card__promo {
        font-size: 10px;
        line-height: 12px;
      }

      .coffee-card__weight {
        width: 82px;
        padding-top: 4px;
        padding-right: 10px;
        padding-bottom: 4px;
        padding-left: 17px;

        font-size: 12px;
        line-height: 14px;
      }

      .coffee-card__img-box {
        width: 107px;
        height: 193px;
        margin-bottom: 23px;
      }

      .coffee-card__features {
        width: 83px;
        margin-bottom: 23px;
        padding-top: 14px;
      }

      .coffee-card__feature {
        margin-bottom: 10px;
      }

      .coffee-card__feature-name {
        margin-bottom: 8px;

        font-size: 10px;
        line-height: 12px;
      }

      .coffee-card__link {
        width: 112px;
      }

      .coffee-card__price {
        font-size: 20px;
        line-height: 26px;

        &::before {
          top: -15px;

          font-size: 16px;
          line-height: 20px;
        }
      }

      .coffee-card__rewiews {
        margin-bottom: 18px;
      }

      .coffee-card__rewiews-text {
        font-size: 8px;
        line-height: 10px;

        & b {
          font-size: 12px;
          line-height: 14px;
        }
      }

      .coffee-card__rating-stars {
        height: 16px;

        &::before,
        & span::before {
          background-size: auto 16px;
        }
      }

      .coffee-card__strength {
        height: 12px;
        margin-bottom: 18px;

        &::before,
        & span::before {
          background-size: auto 12px;
        }
      }

      .coffee-card__rating-feature {
        height: 6px;

        &::before,
        & span::before {
          background-size: auto 6px;
        }
      }
    }

    &--mobile#{&}--sales {
      padding-top: 27px;

      &::before {
        position: absolute;
        top: -22px;

        display: block;
        width: 44px;
        height: 44px;
        padding-top: 9px;
        padding-bottom: 9px;

        color: $black;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;

        background-color: $yellow;
        border-radius: 50%;

        content: "%"
      }
    }
  }

  @media (min-width: $laptop-width) {
    width: 280px;
    padding-top: 14px;
    padding-right: 25px;
    padding-bottom: 42px;
    padding-left: 25px;

    border-radius: 14px;
    box-shadow: 0px 0px 20px rgba($c-92, 25%);

    &--sales {
      padding-top: 30px;

      &::before {
        top: -25px;

        width: 50px;
        height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;

        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    padding-top: 20px;
    padding-right: 38px;
    padding-bottom: 50px;
    padding-left: 38px;

    border-radius: 20px;

    &--sales {
      padding-top: 40px;

      &::before {
        top: -35px;

        width: 70px;
        height: 70px;
        padding-top: 14px;
        padding-bottom: 14px;

        font-size: 36px;
        line-height: 42px;
      }
    }
  }
}

.coffee-card__title {
  order: 5;

  margin: 0;
  margin-bottom: 10px;

  color: $black;
  font-weight: 900;
  font-size: 22px;
  line-height: 28px;

  @media (min-width: $laptop-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
    line-height: 30px;
  }
}

.coffee-card__description {
  order: 6;

  width: 100%;
  margin: 0;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $laptop-width) {
    font-size: 12px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 21px;
  }
}

.coffee-card__promo {
  display: block;
  align-self: center;
  order: 1;
  margin: 0;

  color: $yellow;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $laptop-width) {
    font-size: 12px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
  }
}

.coffee-card__weight {
  order: 2;

  width: 110px;
  margin-bottom: 25px;
  padding-top: 6px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  background-color: $corn-silk;
  border: 1px solid $yellow;
  border-radius: 3px;

  @media (min-width: $laptop-width) {
    width: 93px;
    padding-top: 4px;
    padding-right: 20px;
    padding-bottom: 4px;
    padding-left: 20px;

    font-size: 12px;
    line-height: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 132px;
    padding-top: 6px;
    padding-right: 30px;
    padding-bottom: 6px;
    padding-left: 30px;

    font-size: 18px;
    line-height: 22px;
  }
}

.coffee-card__img-box {
  order: 3;

  width: 144px;
  height: 260px;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $laptop-width) {
    width: 120px;
    height: 218px;
    margin-bottom: 28px;
  }

  @media (min-width: $desktop-width) {
    width: 172px;
    height: 311px;
    margin-bottom: 36px;
  }

  img {
    width: 100%;
  }
}

.coffee-card__features {
  @include list-reset;

  display: flex;
  flex-direction: column;
  order: 4;

  width: 94px;
  margin-bottom: 30px;
  padding-top: 26px;

  @media (min-width: $laptop-width) {
    width: 94px;
    margin-bottom: 25px;
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 133px;
    margin-bottom: 36px;
    padding-top: 10px;
  }
}

.coffee-card__feature {
  margin-bottom: 12px;

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}

.coffee-card__feature-name {
  display: inline-block;
  margin-bottom: 6px;

  font-size: 12px;
  line-height: 14px;

  @media (min-width: $desktop-width) {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 22px;
  }
}

.coffee-card__link {
  align-self: center;
  order: 8;
  width: 149px;

  @media (min-width: $laptop-width) {
    width: 125px;
  }

  @media (min-width: $desktop-width) {
    width: 178px;
  }
}

.coffee-card__price {
  position: relative;

  align-self: center;
  order: 7;
  margin: 0;

  font-weight: 900;
  font-size: 26px;
  line-height: 32px;

  &::before {
    position: absolute;
    top: -22px;

    display: block;

    color: $c-c6;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    text-decoration: line-through;

    content: attr(data-old_price) " \20bd";
  }

  @media (min-width: $laptop-width) {
    font-size: 24px;
    line-height: 30px;

    &::before {
      top: -22px;

      font-size: 18px;
      line-height: 22px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 36px;
    line-height: 44px;

    &::before {
      top: -24px;

      font-size: 24px;
      line-height: 30px;
    }
  }
}

.coffee-card__rewiews {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.coffee-card__rewiews-text {
  font-size: 10px;
  line-height: 12px;

  & b {
    font-size: 14px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 14px;
    line-height: 16px;

    & b {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.coffee-card__rating-stars {
  $tablet-height: 18px;
  $desktop-height: 25px;

  height: $tablet-height;
  margin-bottom: 5px;

  &::before,
  & span::before {
    background-size: auto $tablet-height;
  }

  @media (min-width: $desktop-width) {
    height: $desktop-height;

    &::before,
    & span::before {
      background-size: auto $desktop-height;
    }
  }
}

.coffee-card__strength {
  $tablet-height: 13px;
  $desktop-height: 19px;

  width: 100%;
  height: $tablet-height;
  margin-bottom: 25px;

  &::before,
  & span::before {
    background-size: auto $tablet-height;
  }

  @media (min-width: $desktop-width) {
    height: $desktop-height;

    margin-bottom: 30px;

    &::before,
    & span::before {
      background-size: auto $desktop-height;
    }
  }
}

.coffee-card__rating-feature {
  $mobile-height: 6px;
  $tablet-height: 7px;
  $desktop-height: 10px;

  width: 100%;
  height: $tablet-height;

  &::before,
  & span::before {
    background-size: auto $tablet-height;
  }

  @media (min-width: $desktop-width) {
    height: $desktop-height;

    &::before,
    & span::before {
      background-size: auto $desktop-height;
    }
  }
}
