.footer-main {
  background-color: $white;
}

.footer-main__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 100px;
    padding-bottom: 80px;
  }

  @media (min-width: $laptop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-main__logo {
  order: 2;

  @media (min-width: $laptop-width) {
    order: 0;
  }
}

.footer-main__nav {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }

  @media (min-width: $laptop-width) {
    margin-bottom: 0;
  }
}
