.user-menu {
  @include list-reset;
  position: relative;

  display: flex;
  align-items: center;
}

.user-menu__item {
  display: block;
  margin-right: 30px;

  &--active svg {
    color: $yellow;
  }

  @media (min-width: $tablet-width) {
    margin-right: 60px;
  }

  @media (min-width: $laptop-width) {
    margin-right: 40px;

    &:hover svg {
      color: $yellow-dark;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 54px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.user-menu__icon {
  width: auto;
  height: 17px;

  color: $c-22;

  &--login {
    height: 20px;
  }

  @media (min-width: $tablet-width) {
    height: 34px;

    &--login {
      height: 40px;
    }
  }

  @media (min-width: $laptop-width) {
    width: 22px;
    height: 22px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: 31px;

    &--login {
      height: 32px;
    }
  }
}

.user-menu__search-box {
  position: fixed;
  top: 0;
  left: 0;

  display: none;

  @media (min-width: $laptop-width) {
    position: absolute;
    top: -10px;
    left: -835px;
  }

  @media (min-width: $desktop-width) {
    top: -15px;
    left: -1175px;
  }

  &--open {
    display: block;
  }
}

.user-menu__search-label {
  display: block;

  font-size: 0;
  line-height: 0;

  cursor: pointer;
}

.user-menu__link {
  display: block;

  font-size: 0;
  line-height: 0;
  text-decoration: none;
}
