/*colors*/
$black: #000000;
$white: #ffffff;
$yellow: #f9b300;
$yellow-dark: #e2a300;
$corn-silk: #fff7e1;
$c-40: #40241d;
$c-9d: #9d9d9d;
$c-92: #929292;
$c-18: #181818;
$c-22: #222222;
$c-50: #505050;
$c-b3: #b3b3b3;
$c-c4: #c4c4c4;
$c-c9: #c9c9c9;
$c-d6: #d6d6d6;
$c-e4: #e4e4e4;
$c-e9: #e9e9e9;
$c-f0: #f0f0f0;
$c-f3: #f3f3f3;
$c-f5: #f5f5f5;
$c-f6: #f6f6f6;
$c-fc: #fcfcfc;

/*viewports*/
$mobile-width: 340px;
$tablet-width: 700px;
$laptop-width: 1180px;
$desktop-width: 1660px;
